<a href="https://colab.research.google.com/github/Triwka/ml_homework/blob/main/ML_HW_FORALL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# План:
1. Python
2. Numpy
3. Pandas
4. Regexp + regexp with dataframes
5. Texts
6. Matplotlib, Seaborn
7. Classification, clustering, binary, multiclass, multilabel
8. Metrics
9. Feature extraction
10. Pyspark/sql

<img src="https://github.com/Triwka/ml_homework/blob/main/gifs/start.gif?raw=1" width="400">

# Python

* Целая куча упражнений на типы данных\операторы и функции

https://www.w3resource.com/python-exercises/

Типы данных:
    * Числа (7382, 3.14, 3+4j, Decimal, Fraction)
    * Строки ('net', "your's", u'радость')
    * Списки ([1, [2, 'three'], 4])
    * Словари ({'Alex': 2, 'Brian': 4})
    * Кортежи ('Leo', 21.7, 'single')
    * Множества (set(1,2,3), {'a', 'b', 'c'})
    * Файлы (open('myfile', 'r'))

1. Склеить 3 подстроки "ada", "lovelace", "was considered the world's first computer programmer.". Первые две строки сделать с большой буквы.  (★☆☆)

In [ ]:
str1 = "ada"
str2 = "lovelace"
str3 = "was considered the world's first computer programmer.               "
res = str1.capitalize() + str2.capitalize() + str3
res

"AdaLovelacewas considered the world's first computer programmer.               "

2. Удаление лишних пробельных символов справа, слева, с обоих сторон  (☆☆☆)

In [ ]:
res = res.strip()
res

"AdaLovelacewas considered the world's first computer programmer."

3. Найти первое вхождение в строку подстроки (☆☆☆)

In [ ]:
s1="But if you stick with me, I’m gonna accomplish great things, Morty, and you’re gonna be part of ’em."
s2="you"

s1.find(s2)

7

* isdigit - состоит ли строка из цифр;
* isalpha - состоит ли строка из букв;
* isalnum - состоит ли строка из цифр или букв;
* islower - состоит ли строка из символов в нижнем регистре;
* isupper - состоит ли строка из символов в верхнем регистре;
* istitle - начинаются ли слова в строке с заглавной буквы.

4. Разбить строку по разделителю (☆☆☆)

In [ ]:
s1="Holy#cow,#Rick!#I#didn’t#know#hanging#out#with#you#was#making#me#smarter!"
s = s1.split('#')
s
##your code

['Holy',
 'cow,',
 'Rick!',
 'I',
 'didn’t',
 'know',
 'hanging',
 'out',
 'with',
 'you',
 'was',
 'making',
 'me',
 'smarter!']

5. Полученный массив строк склеить через пробел (★☆☆)

In [ ]:
res = ''
for i in s:
  res = res + i + ' '
res

'Holy cow, Rick! I didn’t know hanging out with you was making me smarter! '

6. Вывести данные из словаря в три строки в виде "NAME (age AGE) is a JOB" (★☆☆)

(hint: .format())

In [ ]:
personal_data = {1: ("Ann", 29, "Artist"), 
               2: ("Leo", 54, "Programmer"), 
               3: ("Tiffany", 43, "Shop Assistant")}
for key in personal_data:
  print (personal_data[key][0], '(age',personal_data[key][1],')', 'is a', personal_data[key][2])

Ann (age 29 ) is a Artist
Leo (age 54 ) is a Programmer
Tiffany (age 43 ) is a Shop Assistant

7. Требуется определить, является ли данный год високосным. (год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.)  (★★☆)

Входные данные: Вводится единственное число - номер года (целое, положительное, не превышает 30000).

Выходные данные: Требуется вывести слово YES, если год является високосным и NO - в противном случае.

In [ ]:
a = int (input())
if a % 4 == 0 and a % 100 > 0 or a % 400 == 0 :
    print('YES')
else :
    print('NO')

283
NO

8. Закодируйте каждый элемент списка слов числом, результат сопоставления (слово-число) поместите в словарь.  (★☆☆)

In [ ]:
words = ['Not', 'my', 'cup', 'of', 'tea']
mydict = {}
for i in range(len(words)):
  mydict[i]=words[i]
mydict

{0: 'Not', 1: 'my', 2: 'cup', 3: 'of', 4: 'tea'}

9. Удалить второй элемент из списка по индексу\по значению  (★☆☆)

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
del dogs[1]
dogs

['border collie', 'labrador retriever']

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
del dogs[dogs.index('australian cattle dog')]
dogs

['border collie', 'labrador retriever']

10. Вывести срез списка с 3 по 5 элемент включительно и все слова перевести в верхний регистр (★☆☆)

In [ ]:
dogs = ['border', 'collie', 'australian', 'cattle', 'dog', 'labrador', 'retriever']
new_li = [x.upper() for x in dogs[2:5]]
new_li

['AUSTRALIAN', 'CATTLE', 'DOG']

11. Словарь словарей. Вывести из словаря для каждого питомца его имя, породу, имя владельца, и наличие прививки. Строку вывода формировать через .format() (★☆☆)

In [ ]:
pets = {'willie': {'kind': 'dog', 'owner': 'eric', 'vaccinated': True},
        'walter': {'kind': 'cockroach', 'owner': 'eric', 'vaccinated': False},
        'peso': {'kind': 'dog', 'owner': 'chloe', 'vaccinated': True},
        }
for key in pets:
  mydict = pets[key]
  st = "Name is {dogname}, kind is {kind}, owner is {owner}, vaccine status : {vac_stat}".format(dogname = key, kind = mydict['kind'], owner = mydict['owner'] , vac_stat = mydict['vaccinated'])
  print(st)

Name is willie, kind is dog, owner is eric, vaccine status : True
Name is walter, kind is cockroach, owner is eric, vaccine status : False
Name is peso, kind is dog, owner is chloe, vaccine status : True

12. Проверить является ли множество подмножеством другого множества  (★☆☆)

In [ ]:
a=set([2, 5, 6 ])
b=set([2, 4, 8, 3, 5, 6])
a < b
##your code

True

13. Объединить несколько множеств (★☆☆)

In [ ]:
a=set([10, 35, 6, 5])
b=set([2, 4, 8, 3, 5, 6, 35])
c=set([4, 5, 35])
myset = a.union(b.union(c))
myset
##your code

{2, 3, 4, 5, 6, 8, 10, 35}

14. Посчитать пересечение множества b с остальными из предыдущего задания  (★★☆)

(hint: set.intersection(other, ...) (или set & other &) )

In [ ]:
b.intersection(c)

{4, 5, 35}

In [ ]:
b.intersection(a)

{5, 6, 35}

In [ ]:
b.intersection(myset)

{2, 3, 4, 5, 6, 8, 35}

15. Вывести множество из элементов, встречающихся в одном множестве, но не встречающиеся в обоих. (★★☆)

(hint: .symmetric_difference())

In [ ]:
a=set([1, 2, 3, 4, 5])
b=set([3, 4, 5, 6, 7])
a.symmetric_difference(b)
##your code

{1, 2, 6, 7}

16. Предположим, есть файл с данными клиентов. В качестве простого примера воьзьмем txt-файл(нужно создать файл с предложенным/другим содержанием самостоятельно) следующего содержания:

    lastname,age,debt,occupation
    
    Adrianov,25,30000,artist
    
    Нужно считать файл data/credit_sample.txt.
    Сделать словарь вида:
        {lastname: (age,debt,occupation)}
    
    Посчитать сколько уникальных профессий получилось в словаре.
    
    Результат записать в json (★★★)

In [3]:
import pandas as pd

In [ ]:
pd.DataFrame()

In [40]:
my_dict = {}
with open ('mlhw.txt') as txt:
    my_dict = {}
    for line in txt:
        line = tuple(line.strip().split(','))
        my_dict[line[0]] = line[1:]
df = pd.DataFrame(my_dict, index = ['age','debt','occupation'])
df

           Adrianov Varlamov   Streletskiy   Volnov Shkredov
age              25       31            33       45       22
debt          30000    45000        120000    45000    30000
occupation   artist  builder  psychologist  builder   artist

In [47]:
df = df.T
df

            age    debt    occupation
Adrianov     25   30000        artist
Varlamov     31   45000       builder
Streletskiy  33  120000  psychologist
Volnov       45   45000       builder
Shkredov     22   30000        artist

In [48]:
df.occupation.nunique()

3

In [28]:
my_dict

{'Adrianov': ('25', '30000', 'artist'),
 'Varlamov': ('31', '45000', 'builder'),
 'Streletskiy': ('33', '120000', 'psychologist'),
 'Volnov': ('45', '45000', 'builder'),
 'Shkredov': ('22', '30000', 'artist')}

Непонятно как сохранить количество уникальных профессий в json

### os, sys, datetime

In [49]:
import os

17. Получить список файлов в папке gifs/ и оставить только файлы с расширением .gif (★★☆)

In [50]:
import os
# определение текущей рабочей директории
path = os.getcwd()
# чтение записей
with os.scandir(path) as listOfEntries:
    for entry in listOfEntries:
        # печать всех записей, являющихся файлами
        if entry.is_file():
            print(entry.name)

mlhw.txt

18. Создать папку с названием temp и удалить её (★☆☆)

In [52]:
os.mkdir("temp")
os.rmdir("temp")

19. Вывести переменные среды (★☆☆)

(hint: environ)

In [53]:
os.environ

environ{'NV_LIBCUBLAS_DEV_VERSION': '11.4.1.1043-1',
        'NV_CUDA_COMPAT_PACKAGE': 'cuda-compat-11-2',
        'NV_CUDNN_PACKAGE_DEV': 'libcudnn8-dev=8.1.1.33-1+cuda11.2',
        'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64',
        'NV_LIBNCCL_DEV_PACKAGE': 'libnccl-dev=2.8.4-1+cuda11.2',
        'TCLLIBPATH': '/usr/share/tcltk/tcllib1.19',
        'CLOUDSDK_PYTHON': 'python3',
        'LANG': 'en_US.UTF-8',
        'NV_LIBNPP_DEV_PACKAGE': 'libnpp-dev-11-2=11.3.2.152-1',
        'HOSTNAME': 'e082056703b6',
        'OLDPWD': '/',
        'CLOUDSDK_CONFIG': '/content/.config',
        'NV_LIBNPP_VERSION': '11.3.2.152-1',
        'NV_NVPROF_DEV_PACKAGE': 'cuda-nvprof-11-2=11.2.152-1',
        'NVIDIA_VISIBLE_DEVICES': 'all',
        'NV_NVPROF_VERSION': '11.2.152-1',
        'NV_LIBCUSPARSE_VERSION': '11.4.1.1152-1',
        'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=172.28.0.2"],"debugAdapterMultiplexerPath":"/usr/local/bin/dap_multiplexer","enableLsp":true}',
        'NV_LIBCUBLAS_DEV_PACKAGE': 'libcublas-dev-11-2=11.4.1.1043-1',
        'ENV': '/root/.bashrc',
        'NCCL_VERSION': '2.8.4-1',
        'TF_FORCE_GPU_ALLOW_GROWTH': 'true',
        'NO_GCE_CHECK': 'False',
        'PWD': '/',
        'NVARCH': 'x86_64',
        'HOME': '/root',
        'NV_LIBCUSPARSE_DEV_VERSION': '11.4.1.1152-1',
        'KMP_LISTEN_PORT': '6000',
        'LAST_FORCED_REBUILD': '20221006',
        'NV_LIBNCCL_PACKAGE_VERSION': '2.8.4-1',
        'NV_LIBNCCL_PACKAGE': 'libnccl2=2.8.4-1+cuda11.2',
        'DEBIAN_FRONTEND': 'noninteractive',
        'NV_LIBNCCL_DEV_PACKAGE_NAME': 'libnccl-dev',
        'NV_CUDA_LIB_VERSION': '11.2.2-1',
        'NV_LIBNPP_PACKAGE': 'libnpp-11-2=11.3.2.152-1',
        'NV_LIBNCCL_PACKAGE_NAME': 'libnccl2',
        'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs',
        'NV_NVTX_VERSION': '11.2.152-1',
        'NV_LIBCUBLAS_VERSION': '11.4.1.1043-1',
        'NV_LIBCUBLAS_PACKAGE': 'libcublas-11-2=11.4.1.1043-1',
        'GCE_METADATA_TIMEOUT': '3',
        'NV_CUDNN_VERSION': '8.1.1.33',
        'VM_GCE_METADATA_HOST': '169.254.169.254',
        'NV_CUDA_CUDART_DEV_VERSION': '11.2.152-1',
        'KMP_TARGET_PORT': '9000',
        'GLIBCPP_FORCE_NEW': '1',
        'TBE_CREDS_ADDR': '172.28.0.1:8008',
        'SHELL': '/bin/bash',
        'GCS_READ_CACHE_BLOCK_SIZE_MB': '16',
        'NV_NVML_DEV_VERSION': '11.2.152-1',
        'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command',
        'CUDA_VERSION': '11.2.2',
        'NV_LIBCUBLAS_PACKAGE_NAME': 'libcublas-11-2',
        'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility',
        'TBE_RUNTIME_ADDR': '172.28.0.1:8011',
        'SHLVL': '0',
        'PYTHONPATH': '/env/python',
        'NV_LIBCUBLAS_DEV_PACKAGE_NAME': 'libcublas-dev-11-2',
        'NVIDIA_REQUIRE_CUDA': 'cuda>=11.2 brand=tesla,driver>=418,driver<419 brand=tesla,driver>=450,driver<451',
        'NV_LIBNPP_DEV_VERSION': '11.3.2.152-1',
        'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009',
        'NV_CUDA_CUDART_VERSION': '11.2.152-1',
        'COLAB_GPU': '0',
        'NV_CUDNN_PACKAGE_NAME': 'libcudnn8',
        'GLIBCXX_FORCE_NEW': '1',
        'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin',
        'NV_LIBNCCL_DEV_PACKAGE_VERSION': '2.8.4-1',
        'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4',
        'NV_CUDNN_PACKAGE': 'libcudnn8=8.1.1.33-1+cuda11.2',
        'JPY_PARENT_PID': '48',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://ipykernel.pylab.backend_inline',
        'ENABLE_DIRECTORYPREFETCHER': '1',
        'USE_AUTH_EPHEM': '1',
        'PYDEVD_USE_FRAME_EVAL': 'NO'}

20. Как игнорировать warrnings?

* Про datetime и timedelta 

https://www.guru99.com/date-time-and-datetime-classes-in-python.html

21. Вывести сегодняшнюю, вчерашнюю и завтрашнюю дату (☆☆☆)

In [94]:
dir(datetime.date)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [77]:
import datetime

In [89]:
today = datetime.date.today()
today

datetime.date(2022, 10, 23)

In [90]:
today + datetime.timedelta(days=1)

datetime.date(2022, 10, 24)

In [92]:
today - datetime.timedelta(days=1)

datetime.date(2022, 10, 22)

22. Вывести день недели сегодняшней даты (★☆☆)

In [95]:
datetime.date.weekday(today)

6

23. Получить список дат за предыдущую неделю (★★☆)

In [116]:
today = datetime.datetime.today()
print(today)

2022-10-23 16:50:30.252021

In [118]:
for i in range (7):
  print(today  - datetime.timedelta(days=i))

2022-10-23 16:50:30.252021
2022-10-22 16:50:30.252021
2022-10-21 16:50:30.252021
2022-10-20 16:50:30.252021
2022-10-19 16:50:30.252021
2022-10-18 16:50:30.252021
2022-10-17 16:50:30.252021

24. Вывести дату с часами и минутами, отформатировать в формате: 01.12.2019 00:12:54 (★★☆)
            
(hint: now().strftime())

In [106]:
td = datetime.datetime.now().strftime('%d.%m.%Y %X')
td

'23.10.2022 16:42:48'

25. Исходя из текущей даты вычислить дату предыдущего понедельника (★★★)

In [112]:
datetime.datetime.today()

datetime.datetime(2022, 10, 23, 16, 47, 24, 730539)

In [114]:
datetime.datetime.today() - datetime.timedelta(days = datetime.date.weekday(today))

datetime.datetime(2022, 10, 17, 16, 47, 48, 642062)

# Numpy

### numpy в картинках (реально лучший):

https://jalammar.github.io/visual-numpy/

In [ ]:
import numpy as np

1. Задать нулевой вектор размером 10 (★☆☆)

(hint: np.zeros)

2. Как найти размер занимаемой памяти любым массивом (★☆☆)

(hint: size, itemsize)

3. Создать вектор из 10 нулей, кроме пятого элемента, который равен 1 (★☆☆)

4. Создать вектор от 10 до 50 включительно (★☆☆)

(hint:np.arange)

5. Перевернуть вектор (первый элемент будет последним) (★☆☆)

6. Создать матрицу 3х3 с элементами от 0 до 8 (★☆☆)

(hint: reshape)

7. Найти индексы не нулевых эемелентов в numpy array [1,2,0,0,4,0] (★☆☆)

(hint: np.nonzero)

8. Создать матрицу 10x10 array с рандомными числами и найти минимум, максимум и среднее (★☆☆)

9. Создать матрицу 8x8 и заполнить 0 и 1 в стиле шахматной доски (★☆☆)

(hint: array[::n])

10. Нормализовать рандомную матрицу 5x5 (★☆☆)

(hint: (x - mean) / std)

11. Найти общие элементы между двумя массивами

(hint: np.intersect1d)

12. Извлечь целую часть рандомного массива чисел различными способами (максимум 5) (★★☆)

13. Создать рандомный вектор размера 10 и отсортировать его (★★☆)

14. Проверить одинаковы ли два рандомных массива А и B (★★☆)

(hint: np.allclose, np.array_equal)

15. Создать рандомный ветор размером 10 и максимальный элемент заменить на -1 (★★☆)

(hint: argmax)

16. Найдите самый близкий элемент к данному рандомному числу в векторе? (★★☆)

(hint: argmin)

In [ ]:
Z = np.arange(100)
v = np.random.uniform(0,100)
index =  ???????
print(Z[index])

SyntaxError: ignored

17. Посчитать среднее для каждой строки матрицы (★★☆)

18. Посчитать среднее со скользящим окном над массивом (★★★)

(hint: np.cumsum)

<img src="https://github.com/Triwka/ml_homework/blob/main/gifs/bender.gif?raw=1" width="400">

# Regular expressions

* Cупер статья на все времена. Особенно понятно все про такие сложные штуки как lookaround. 

https://habr.com/ru/post/349860/


* Задания на регулярки

https://regexone.com/

* На этом сайте удобно тестировать регулярку, которую мучаешь, можно написать несколько примеров и тестировать на них. Важно не забывать выбирать Python:

https://regex101.com/

1. Из строки в файле data/rejson.txt вытащить хэш. Пример:

'master_guid': '<b>233880bb4c50d247f84edc9cac9e6e29</b>_2308194320'

# Pandas

* Pandas в картинках

https://jalammar.github.io/gentle-visual-intro-to-data-analysis-python-pandas/

* 10 minutes to pandas

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

* 🐼реально классный твиттер чувака с крутыми pandas tricks:
    
https://mobile.twitter.com/i/moments/1158828895547854849